XSD/Validering/Bufdir_Validering_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:val="https://Bufdir_Valideringsregler_v1.0.0.xsd" targetNamespace="https://Bufdir_Valideringsregler_v1.0.0.xsd" elementFormDefault="qualified">
	<xs:element name="validering">
		<xs:annotation>
			<xs:documentation>
Validering som ikke fanges opp av standard XML-validering.
1 XML-fil for hver XSD, som for kodelister
			</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element name="valideringsregel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="beskrivelse" type="xs:string"/>
							<xs:element name="valideringtype">
								<xs:annotation>
									<xs:documentation>
									[Intermelding] = Sjekker verdier mot en eller flere andre meldinger
									[Intramelding] = Sjekker verdier internt i meldingen, uavhengig av andre meldinger
									</xs:documentation>
								</xs:annotation>	
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Intermelding">
										</xs:enumeration>
										<xs:enumeration value="Intramelding">
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="regel">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xpath" type="xs:string">
											<xs:annotation>
												<xs:documentation>
XPath-uttrykk inneholder ikke rotelementets navn. Meldingsdefinisjoner har kun 1 rotelement, så navnet trenger ikke være del av XPath-uttrykk for å lokalisere det.
												</xs:documentation>
											</xs:annotation>	
										</xs:element>
										<xs:element name="verdi" type="xs:string">
											<xs:annotation>
												<xs:documentation>
'verdi' kan være en spesifikk verdi, eller det kan være resultatet av en navngitt funksjon som må implementeres.
												</xs:documentation>
											</xs:annotation>	
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="betingelse">
								<xs:annotation>
									<xs:documentation>
Eventuell betingelse for å kjøre valideringen. Et eksempel: "At det finnes et element Meldingshode/OppfolgingAvMelding", uten dette gir det ikke mening å let etter en referert melding.
									</xs:documentation>
								</xs:annotation>	
								<xs:complexType>
									<xs:sequence>
										<xs:element name="xpath" type="xs:string"/>
										<xs:element name="verdi" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>UUID som identifiserer regel</xs:documentation>
							</xs:annotation>	
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>